.navbar2 {
    background-image: url('../../public/img/style/navbar.jpg');
    height: 100%;
    color: white;
    height: 100;
    padding: 20px;
    width: 15%;
}

section {
    height: 100%;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

.navbar2 li {
    padding: 10px 0;
    font-family: 'Bebas Neue';
    list-style: none;
}

.navbar2 h2 {
    padding: 50px 0;
    font-family: 'Bebas Neue';
    font-size: 2.7rem;
}

.navbar2 a {
    text-decoration: none;
    color: white;
}


.navbar2 a:hover {
    color: #82a3c5;
}



.home {
    background-image: url('../../public/img/style/home-bg.png');
    background-repeat: no-repeat;
    background-size: 81%;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.home h1 {
    color: #4e0e31;
    font-family: Bebas Neue;
    font-size: 4rem;
    transform: rotate(-90deg) scale(3, 1.5);
    position: absolute;
    left: -80px;
    bottom: 43%;
}

